            * {
                font-family: Arial;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            
            header {
                height: 150px;
                width: 100%;
                background-color: #2E3273;
            }
            
            #logoColegioVivas {
                float: left;
                margin-left: 8%;
                margin-top: 2%;
            }
            
            header p {
                color: white;
                float: right;
                margin-top: 4%;
                margin-right: 15%;
            }
            
            nav {
                background-color: #888;
                width: 100%;
                color: white;
            }
            
            nav a {
                text-decoration: none;
                color: inherit;
            }
            
            nav ul {
                margin-left: 70%;
            }
            
            nav li {
                display: inline-block;
                width: 100px;
                height: 25px;
                padding: 4px 5px;
                /*¿¿??*/
                text-align: center;
                color: white;
                background-color: #888;
                position: relative;
            }
            
            nav li:hover {
                color: white;
                background-color: black;
            }
            
            nav li>ul {
                display: none;
                top: 25px;
                margin-left: -5%;
            }
            
            nav li:hover>ul {
                display: block;
                position: absolute;
            }
            
            #inicio {
                margin-left: 18%;
                margin-top: 2%;
                margin-bottom: 30px;
            }
            
            #inicio a {
                text-decoration: none;
                color: lightskyblue;
            }
            
            #inicio a:hover {
                text-decoration: underline;
            }
            
            #izquierda {
                background-color: #F5F5F5;
                text-align: center;
                float: left;
                margin-left: 20%;
                width: 30%;
                height: 400px;
                line-height: 2.5em;
            }
            
            form {
                line-height: 1.5em;
            }
            
            #button {
                background-color: black;
                color: white;
                border: 7px solid black;
                border-bottom-left-radius: 20%;
                border-bottom-right-radius: 20%;
                border-top-left-radius: 20%;
                border-top-right-radius: 20%;
            }
            
            #blueLine {
                color: lightskyblue;
                text-decoration: none;
            }
            
            #blueLine:hover {
                text-decoration: underline;
            }
            
            #derecha {
                background-color: #F5F5F5;
                float: right;
                margin-right: 15%;
                width: 35%;
                height: 400px;
                padding-top: -2%;
            }
            
            #derecha td {
                position: relative;
                top: -20px;
            }
            
            .titulo {
                position: relative;
                margin-top: 8px;
                text-align: center;
                font-weight: normal;
            }
            
            footer {
                clear: both;
                /*bottom: 0%;*/
                position: relative;
                height: 150px;
                width: 100%;
                background-color: #2E3273;
                color: white;
                text-align: center;
                top: 50px;
            }
            
            footer p {
                position: relative;
                top: 15%;
            }
            
            #moodle {
                position: relative;
                top: 35%;
            }